@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

html {
    font-family: "Josefin Sans", "Arial", sans-serif;
    padding-left: 5cm;
    padding-top: 2cm;
    overflow: hidden;
}
.img-left {
    position: relative;
    left: 19.3cm;
    top: -18cm;
}

.description-content {
    width: 10.7cm;
    color: hsl(0, 93%, 68%);
    font-weight: 300;
    position: relative;
    top: -1.5cm;
}

.title-content {
    font-size: 100px;
    letter-spacing: 15px;
    text-transform: uppercase;
    color: hsl(0, 6%, 24%);
}

.title-word {
    color: hsl(0, 36%, 70%);
    font-size: 100px;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    top: 2cm;
    letter-spacing: 15px;
}


.input-submit {
    width: 10cm;
    border-radius: 20px;
    position: relative;
    top: -1cm;
    right: 2.5cm;
    height: 1.4cm;
    border-color: hsl(0, 36%, 70%);
    outline: none;
    border-style: solid;
    text-indent: 0.5cm;
    cursor: pointer;
    border-width: 0.01cm;
}

.input-submit::placeholder {
    color: hsl(0, 36%, 70%);
    font-size: 15px;
    font-weight: 300;
}

.btn-submit {
    position: relative;
    top: -0.9cm;
    left: 9cm;
    z-index: 1;
    width: 2.5cm;
    height: 1.44cm;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(248,191,191,1) 30%, rgba(238,140,140,1) 100%);
    border-radius: 20px;
    border-style: none;
    box-shadow: 0 0 0.5cm hsl(0, 36%, 70%);
}

.btn-submit:hover {
    background-color: hsl(0, 93%, 68%);
}
